<main class="page page--index">
	<section class="hero rounded">
		<img src="@img/hero-bg.jpg" alt="" class="bg-image">
		<div class="hero__container">
			<h1>We Deliver <span>Cars <span><span>Since</span><span>2008</span></span></span></h1>
		</div>
	</section>


	<div class="block-marquee">
		<div class="block-marquee__container">
			<div data-fls-marquee data-fls-marquee-space="70" data-fls-marquee-speed="300">
				<div class="block-marquee__image-wrapper">
					<img src="@img/banners/01.svg" alt="">
				</div>
				<div class="block-marquee__image-wrapper">
					<img src="@img/banners/02.svg" alt="">
				</div>
				<div class="block-marquee__image-wrapper">
					<img src="@img/banners/03.svg" alt="">
				</div>
				<div class="block-marquee__image-wrapper">
					<img src="@img/banners/04.svg" alt="">
				</div>
				<div class="block-marquee__image-wrapper">
					<img src="@img/banners/05.svg" alt="">
				</div>
				<div class="block-marquee__image-wrapper">
					<img src="@img/banners/06.png" alt="">
				</div>
				<div class="block-marquee__image-wrapper">
					<img src="@img/banners/07.png" alt="">
				</div>
				<div class="block-marquee__image-wrapper">
					<img src="@img/banners/08.png" alt="">
				</div>
				<div class="block-marquee__image-wrapper">
					<img src="@img/banners/09.png" alt="">
				</div>
			</div>
		</div>
	</div>


	<section class="welcome rounded">
		<img src="@img/welcome-bg.png" alt="" class="bg-image">
		<div class="welcome__container">
			<div class="welcome__header">
				<div class="welcome__label">
					<div class="black-circle">Welcome to Autos On The Go</div> 
				</div>
				<div class="welcome__title">
					<h2>Trusted Auto Transport Experts</h2>
				</div>
			</div>
			<div class="welcome__body">
				<div class="welcome__main-image">
					<img src="@img/welcome-image.jpg" alt="Image">
				</div>
				<ul class="welcome-list">
					<li class="welcome-list__item">
						<div class="welcome-list__digit">
							01
						</div>
						<div class="welcome-list__content">
							<div class="welcome-list__title">
								<h3>Integrity First</h3>
							</div>
							<p class="welcome-list__text">
								We put honesty and ethical standards before profits, always doing what's right for our customers and drivers.
							</p>
						</div>
					</li>
					<li class="welcome-list__item">
						<div class="welcome-list__digit">
							02
						</div>
						<div class="welcome-list__content">
							<div class="welcome-list__title">
								<h3>Personal Service</h3>
							</div>
							<p class="welcome-list__text">
								We believe in direct communication — no call centers, just real people who care about your experience from quote to delivery.
							</p>
						</div>
					</li>
					<li class="welcome-list__item">
						<div class="welcome-list__digit">
							03
						</div>
						<div class="welcome-list__content">
							<div class="welcome-list__title">
								<h3>Licensed, Bonded & Insured</h3>
							</div>
							<p class="welcome-list__text">
								Every shipment is covered with full insurance protection from pickup to delivery.
							</p>
						</div>
					</li>
					<li class="welcome-list__item">
						<div class="welcome-list__digit">
							04
						</div>
						<div class="welcome-list__content">
							<h3 class="welcome-list__title">
								Nationwide Network
							</h3>
							<p class="welcome-list__text">
								With trusted affiliates across the U.S. and Canada, we're equipped to move any vehicle, anywhere.
							</p>
						</div>
					</li>
					<li class="welcome-list__item">
						<div class="welcome-list__digit">
							05
						</div>
						<div class="welcome-list__content">
							<h3 class="welcome-list__title">
								Proven Reliability
							</h3>
							<p class="welcome-list__text">
								Thousands of satisfied customers trust us for safe, on-time vehicle delivery — year after year.
							</p>
						</div>
					</li>
				</ul>
				<div class="welcome-facts">
					<div class="welcome-facts__wrapper">
						<h3 class="welcome-facts__title black-circle">
							REAL FACTS ABOUT US
						</h3>
						<ul data-fls-watcher class="welcome-facts__list">
							<li class="welcome-facts__item">
								<div class="welcome-facts__digit">
									<div data-fls-digcounter data-fls-digcounter-speed="2500" class="digit">
										18
									</div>
									+
								</div>
								<div class="welcome-facts__text">
									Years in business
								</div>
							</li>
							<li class="welcome-facts__item">
								<div class="welcome-facts__digit">
									<div data-fls-digcounter data-fls-digcounter-speed="2500" class="digit">
										62
									</div>
									K+
								</div>
								<div class="welcome-facts__text">
									Vehicles Delivered
								</div>
							</li>
							<li class="welcome-facts__item">
								<div class="welcome-facts__digit">
									<div data-fls-digcounter data-fls-digcounter-speed="2500" class="digit">
										30
									</div>
									K+
								</div>
								<div class="welcome-facts__text">
									Satisfied Customers
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="how">
		<div class="how__header">
			<div class="how__container">
				<div class="how__label white-circle">
					how it works
				</div>
				<div class="how__title">
					<h2>Instant quote,<br> 
					Quick delivery, Fully insured</h2>
				</div>
			</div>
			<div class="how__body rounded">
				<img src="@img/how-bg.jpg" alt="" class="bg-image">
				<div class="how__container">
					<ul class="how__items">
						<li class="how__item how-item how-item--yellow">
							<div class="how-item__digit grey-circle">
								01
							</div>
							<img src="@img/icons/decor-1.svg" class="how-item__decor">
							<div class="how-item__title">
								<h3>Quote</h3>
							</div>
							<div class="how-item__text">
								<p>Receive a precise, real-time quote for your transport — no gimmicks, no low-ball pricing.</p>
								<p>Our rates reflect years of trusted partnerships and the level of care your vehicle deserves.</p>
							</div>
						</li>
						<li class="how__item how-item how-item--dark">
							<div class="how-item__digit yellow-grey-circle">
								02
							</div>
							<img src="@img/icons/decor-2.svg" class="how-item__decor">
							<div class="how-item__title">
								<h3>Transport</h3>
							</div>
							<div class="how-item__text">
								<p>From the moment we schedule your pickup to the final delivery, every step is managed with care and precision.</p>
								<p>We oversee timing, logistics, and communication so your transport feels effortless.</p>
							</div>
						</li>
						<li class="how__item how-item how-item--yellow">
							<div class="how-item__digit grey-circle">
								03
							</div>
							<img src="@img/icons/decor-1.svg" class="how-item__decor">
							<div class="how-item__title">
								<h3>Service</h3>
							</div>
							<div class="how-item__text">
								<p>Fully licensed, insured, and FMCSA-compliant.</p>
								<p>We treat every car like our own, providing safe, reliable delivery and clear communication every step of the way.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>


	<section class="shipping ">
		<img src="@img/shipping-bg.jpg" alt="" class="bg-image">
		<div class="shipping__container">
			<div class="shipping__label white-circle">
				USA & Canada
			</div>
			<div class="shipping__title">
				<h2>Ship Anywhere<br>with Ease</h2>
			</div>
			<div class="shipping__description">
				<p>We've spent over 18 years perfecting the process of safe, door-to-door vehicle delivery. From quote to drop-off, our team coordinates every detail so your transport stays simple, transparent, and on schedule.</p>
			</div>
			<div class="shipping__images">
				<div class="shipping__image">
					<img src="@img/shipping-01.jpg" alt="">
				</div>
				<div class="shipping__image-wide">
					<img src="@img/shipping-02.jpg" alt="">
				</div>
				<div class="shipping__image">
					<img src="@img/shipping-03.jpg" alt="">
				</div>
			</div>
			<div class="shipping__main-text">
				<div class="shipping__door-text">Door—to—Door</div>
				<div class="shipping__coast-text">Coast—to—Coast</div>
			</div>
		</div>
	</section>


	<section class="services">
		<div class="services__container">
			<div class="services__header">
				<div class="services__label white-circle">
					label
				</div>
				<div class="services__title">
					<h2>title</h2>
				</div>
			</div>
			<div class="services__body">
				<div class="services__items">
					<div class="services__item">
						<div class="service">
							<div class="service__digit">0</div>
							<div class="service__image">
								<img src="@img" alt="Image">
							</div>
							<div class="service__text">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
</main>
