<header data-fls-header data-fls-header-scroll="5" class="header">
	<div class="header__container">
		<!-- <include src="@components/layout/menu/menu.html" locals='{"active":"[[active]]"}'></include> -->
		
		<div class="site-branding">
			<a href="">
				<img src="@img/logo.png" class="logo-1" alt="">
				<img src="@img/logo-footer.png" class="logo-2" alt="">
			</a>
		</div><!-- .site-branding -->

		<div class="menu">
			<button type="button" data-fls-menu class="menu__icon icon-menu"><span></span></button>
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu-item">
						<a href="#">Home</a>
					</li>
					<li class="menu-item">
						<a href="#">About Us</a>
					</li>
					<li class="menu-item">
						<a href="#">Testimonials</a>
					</li>
					<li class="menu-item menu-item-has-children">
						<a href="#">Services</a>
						<ul class="sub-menu">
							<li class="menu-item"><a href="https://www.autosonthego.com/corporate-auto-transport-services/">Corporate Auto Transport Services</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/expedited-auto-transport/">Expedited Auto Transport</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/shipping-a-car-to-hawaii/">Shipping A Car To Hawaii</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/hyannis-auto-transport/">Hyannis Auto Transport</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/key-west-enclosed-auto-transport/">Key West Enclosed Auto Transport</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/hamptons-to-palm-beach-auto-transport/">Hamptons to Palm Beach Auto Transport</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/moke-electric-car-transport/">Moke Electric Car Enclosed Transport</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/aspen-auto-transport-for-snowbirds/">Aspen Auto Transport for Snowbirds</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/tesla-cybertruck-auto-transport/">Tesla Cybertruck Auto Transport</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/land-rover-defender-auto-transport/">Land Rover Defender Auto Transport</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/transporting-a-car-to-the-villages/">Transporting a Car to The Villages</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/naples-snowbird-auto-transport/">Naples Snowbird Car Transport</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/tesla-model-y-auto-transport/">Tesla Model Y Auto Transport</a></li>
						</ul>
					</li>
					<li class="menu-item menu-item-has-children">
						<a href="#">Canada</a>
						<ul class="sub-menu">
							<li class="menu-item"><a href="https://www.autosonthego.com/alberta-auto-transport/">Alberta Auto Transport</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/vancouver-auto-transport/">Vancouver Auto Transport</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/ontario-auto-transport/">Ontario Auto Transport</a></li>
							<li class="menu-item"><a href="https://www.autosonthego.com/winnipeg-auto-transport/">Winnipeg Auto Transport</a></li>
						</ul>
					</li>
					<li class="menu-item">
						<a href="#">Contacts</a>
					</li>
					<li class="menu-item">
						<a href="#">FAQ</a>
					</li>
				</ul>

				<div class="header-phone">
					QUESTIONS? CALL US 
					<a href="tel:+18669247447">866.924.7447</a>
				</div>
				<div class="mobile-content">
					<div class="mobile-content__line-1">
						Feel free to call or email us.
					</div>
					<div class="mobile-content__line-2">
						We appreciate our customers and are here to answer all of your questions
					</div>
					<div class="mobile-content__line-3">
						<a href="">
							INFO@AUTOSONTHEGO.COM
						</a>
					</div>
					<div class="mobile-content__line-4">
						<a href="">
							866.924.7447
						</a>
					</div>
					<div class="mobile-content__logos">
						<a href=""><img src="@img/icons/instagram.svg" alt="instagram"></a>
						<a href=""><img src="@img/icons/facebook.svg" alt="facebook"></a>
					</div>
				</div>
				<div class="mobile-mini-menu">
					<ul class="menu__list">
						<li class="menu-item">
							<a href="#">Terms and Conditions</a>
						</li>
						<li class="menu-item">
							<a href="#">Licensing</a>
						</li>
					</ul>
				</div>
				<a href="#" data-fls-popup-link="request" class="yellow-button">
					<span>Request Quote Now</span>
					<img src="@img/icons/arrow-form--right-black.svg" alt="arrow">
				</a>
			</nav><!-- #site-navigation -->

		</div>
		
	</div>
</header>